/* {border: dashed 1px red;
} */
.body {
  margin: 0;
}


.third-page__main-section_box-number {
  display: inline-block;
  user-select: none;
  position: relative;
  text-align: left;
  padding: 0;
  width: 130px;
  border: 1px solid #ddd;
}

.third-page__main-section_box_number-minus, .third-page__main-section_box_number-plus {
  position: absolute;
  top: 0;
  width: 40px;
  height: 32px;
  line-height: 32px;
  display: block;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

.third-page__main-section_box_number-minus {
  left: 0;
}

.third-page__main-section_box_number-plus {
  right: 0;
}

.third-page__main-section_box_number-minus:hover, .third-page__main-section_box_number-plus:hover {
  background: #fffcfb;
}

.third-page__main-section_box_number-minus:active, .third-page__main-section_box_number-plus:active {
  background: #e8e4e2;
}

.third-page__main-section_box_number-text {
  display: inline-block;
  font-size: 14px;
  color: #000;
  line-height: 32px;
  height: 32px;
  padding: 0;
  margin: 0 0 0 42px;
  background: #fff;
  outline: none;
  border: none;
  width: 57px;
  text-align: center;
}

.first-page {
  background: url(img/rectangle.svg);
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
  height: 900px;
}

.first-page__middle-header {
  margin: 0 0 96px 52px;
  padding-top: 36px;
  font-family: montserratmedium, sans-serif;
  font-style: normal;
  font-weight: 500;
  width: 28%;
  display: flex;
  justify-content: space-between;
}

.first-page__logo, .first-page__lenguage, .first-page__hamburger-menu {
  display: inline-block;
}

.first-page__logo {
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.07em;
  color: #FFFFFF
}

.first-page__lenguage {
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  background-color: #000;
  border: none;
  margin-right: 19px;
}

.first-page__hamburger-menu {
  width: 92px;
  height: 92px;
  right: 0;
  top: 0px;
  background: #000;
  opacity: 0.05;
  position: absolute;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 39px;
  left: 87%;
  width: 25px;
  height: 3px;
  cursor: pointer;
  z-index: 999999;
}

#menu__toggle {
  opacity: 0;
}

.menu__btn > span,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  top: 0;
  background: #000;
  transition-duration: 0.25s;
}

.menu__btn > span::after {
  content: '';
  top: 7px;
}

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #fff;
  transition-duration: 0.25s;
  z-index: 100;
}

.menu__item_checkbox:hover {
  background-color: #cfd8dc;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}

.first-page__main-section {
  width: auto;
  margin: 0 143px 68px 183px;
  height: 468px;
  background: url(img/first-page.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 49%;;
  padding: 106px 0 0 41%;
}

.first-page__main-section_title {
  font-family: montserratbold, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 82px;
  margin: 0;
  padding: 0 0 14px 3%;
}

.first-page__main-section_description {
  font-family: montserratregular, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  margin: 0;
  padding-bottom: 51px;
  padding-left: 3%;
  width: 89%;
}

.first-page__main-section_read-more {
  font-family: montserratmedium, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 0px;
  color: #000;
  padding: 14px 37px;
  text-decoration: none;
  border:  1.5px solid #000;
  transition: 0.5s;
  margin: 0 10% 0 3%;
}

.first-page__main-section_read-more:hover {
  cursor: pointer;
  box-shadow: 4px 5px #d7d7d7;
  transform: translate(-7px);
  opacity: 0.8;
  border-radius: 0.8;
  font-size: 14px;
}

.first-page__main-section_products {
  font-family: montserratmedium, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 0px;
  margin-right: 3%;
}

.first-page__main-section_products-vector {
  background: url(img/vector.png);
  width: 43px;
  height: 12px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left;
}
.first-page__main-section_products-vector:hover {
  cursor: pointer;
}

.first-page__main-section_footer {
  width: 52%;
  display: flex;
  justify-content: space-between
}

.first-page__main-section_footer-instagram,
.first-page__main-section_footer-vkontakte,
.first-page__main-section_footer-facebook {
  background-color: #fff;
  border-radius: 25px;
  width: 43px;
  height: 43px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.first-page__main-section_footer-instagram:hover,
.first-page__main-section_footer-vkontakte:hover,
.first-page__main-section_footer-facebook:hover {
  cursor: pointer;
  width: 45px;
  height: 45px;
}

.first-page__main-section_footer-instagram,
.first-page__main-section_footer-vkontakte {
  margin-right: 12px;
}

.first-page__main-section_footer-icons {
  width: 23%;
  margin-left: 52px;
  display: flex;
  align-items: center;
}

.first-page__main-section_footer-image {
  padding-top: 1px;
  padding-right: 13px;
}

.second-page {
  background: #fae8e4;
  height: 900px;
  position: relative;
}

.second-page__main-section_image-gris {
  width: 28%;
  height: 431px;
  padding: 57px 0 0 134px;
  position: absolute;
  z-index: 1;
}

.second-page__main-section_image-rose {
  width: 40%;
  height: 644px;
  padding: 60px 0 0 233px;
  position: absolute;
  z-index: 5;
}

.second-page__main-section_box {
  background: #fff;
  width: 34%;
  height: 556px;
  margin: 0 5% 0 61%;
  box-shadow: 4px 16px 21px rgb(0 0 0 / 20%);
  margin-bottom: 40px;
}

.second-page__main-section {
  padding-top: 168px;
  margin: 0;
}

.second-page__main-section_box-title {
  font-family: montserratbold;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 41px;
  padding: 46px 0 14px 11%;
  margin: 0;
}

.second-page__main-section_box-subtitle {
  font-family: montserratbold;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.07em;
  opacity: 0.5;
  padding: 0 0 64px 11%;
  margin: 0;
}

.second-page__main-section_box-description {
  font-family: montserratregular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  opacity: 0.5;
  padding: 0 13% 38px 11%;
  margin: 0;
}

.second-page__main-section_box-colores_item {
  width: 30px;
  height: 30px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
}

.second-page__ellipse-rose {
  padding: 1px;
}

.second-page__ellipse-blue {
  padding: 1px;
}

.second-page__ellipse-green {
  padding: 1px;
}

.second-page__main-section_box-colores_item:hover {
  width: 38px;
  height: 38px;
}

.second-page__main-section_box-colores_item_active {
  padding-left: 4%;
  width: 38px;
  height: 38px;
  text-decoration: none;
  cursor: pointer;
}

.second-page__main-section_box-colores {
  padding:3px 0 55px 11%;
  width: 50%;
}

.second-page__main-section_box-colores,
.second-page__main-section_box-prise {
  display: inline-block;
}

.second-page__main-section_box-prise {
  font-family: montserratbold;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 56px;
}

.second-page__main-section_box-number {
  margin: 0 2% 0 11%;
  width: 20%;
}

.second-page__main-section_box-number,
.second-page__main-section_box_basket {

}

.second-page__main-section_box_basket {
  font-family: montserratmedium;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 0px;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
  border: 1.5px solid #000;
  padding: 10px 10% 10px 8%;
}

.second-page__main-section_box_basket:hover {
  font-size: 14px;
  cursor: pointer;
  box-shadow: 4px 5px #d7d7d7;
  transform: translate(-7px);
  opacity: 0.8;
  border-radius: 0.8;
}

.second-page__ellipse-grey,
.second-page__ellipse-rose,
.second-page__ellipse-blue,
.second-page__ellipse-green {
  padding-top: 5px;
}


.second-page__main-section_box-number {
  display: inline-block;
  user-select: none;
  position: relative;
  text-align: left;
  padding: 0;
  width: 20%;
  border: 1.5px solid #000;
}

.second-page__main-section_box_number-minus,
.second-page__main-section_box_number-plus {
  position: absolute;
  top: 0;
  width: 40px;
  height: 32px;
  line-height: 32px;
  display: block;
  text-align: center;
  text-decoration: none;
}

.second-page__main-section_box_number-minus {
  left: 0;
}

.second-page__main-section_box_number-plus {
  right: 0;
}

.second-page__main-section_box_number-minus:hover,
.second-page__main-section_box_number-plus:hover {
  background: #fffcfb;
}

.second-page__main-section_box_number-minus:active,
.second-page__main-section_box_number-plus:active {
  background: #e8e4e2;
}

.second-page__main-section_box_number-text {
  display: inline-block;
  font-family: montserratmedium;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 0px;
  color: #000;
  line-height: 32px;
  margin-left: 22%;
  border: none;
  width: 57px;
  text-align: center;
}

.second-page__main-section_arrow {
  margin-left: 61%;
  padding-left: 5px;
  width: 33%;
  background: url(img/second-vector.png);
  background-position: right;
  background-size: 42%;
  background-repeat: no-repeat;
  font-family: montserratmedium;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

.third-page{
  width: 100%;
  height: 900px;
  background: #EBE3D8;
}

.black-line {
  position: absolute;
  z-index: 10;
  width: 73px;
  height: 900px;
  background: #000;
  margin-left: 27%;
}

.third-page__main-image {
  margin-left: 6%;
 position: absolute;
 z-index: 20;
 box-shadow: 0px 19px 28px rgb(0 0 0 / 20%);
 width: 100%;
}

.third-page__box-section {
  position: relative;
  z-index: 25;
  background: #fae8e4;
  width: 33%;
  height: 351px;
  margin: 116px 0 0 57%;
}

.third-page__main-section {
  position: relative;
  z-index: 15;
  padding-top: 139px;
}

.third-page__box-section_title {
  margin: 0;
}

.third-page__box-section_title {
  font-family: montserratbold;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 41px;
  padding: 39px 11% 15px 9%;
}

.third-page__box-section_subtitle {
  font-family: montserratbold;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  opacity: 0.5;
  padding: 0 0 35px 9%;
  margin: 0;
  letter-spacing: 0.5px;
}

.third-page__box-section_description {
  font-family: montserratregular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  opacity: 0.5;
  padding: 0 12% 55px 10%;
  margin: 0:
}

.third-page__main-section_box-number {
  display: inline-block;
  user-select: none;
  position: relative;
  text-align: left;
  padding: 0;
  width: 20%;
  padding: 4px 2px 4px 0;
  border: 1.5px solid #000;
  margin: 0 2% 0 9%;
}

.third-page__main-section_box_number-minus,
.third-page__main-section_box_number-plus {
  position: absolute;
  top: 2px;
  width: 40px;
  height: 32px;
  line-height: 32px;
  display: block;
  text-align: center;
  text-decoration: none;
}

.third-page__main-section_box_number-minus {
  left: 0;
}

.third-page__main-section_box_number-plus {
  right: 0;
}

.third-page__main-section_box_number-minus:hover,
.third-page__main-section_box_number-plus:hover {
  background: #fffcfb;
}

.third-page__main-section_box_number-minus:active,
.third-page__main-section_box_number-plus:active {
  background: #e8e4e2;
}

.third-page__main-section_box_number-text {
  display: inline-block;
  font-family: montserratmedium;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 0px;
  color: #000;
  line-height: 32px;
  margin-left: 20%;
  border: none;
  width: 57px;
  text-align: center;
  background: #fae8e4;
}

.third-page__main-section_box_basket {
  font-family: montserratmedium;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 0px;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
  border: 1.5px solid #000;
  padding: 14px 10% 14px 9%;
}

.third-page__main-section_arrow {
  margin: 37px 0 197px 65%;
  width: 24%;
  background: url(img/third-vector.png);
  background-position: right;
  background-size: 31%;
  background-repeat: no-repeat;
  font-family: montserratmedium;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

.third-page__footer {
  margin-left: 84%;
  padding-top: 17px
  font-family: montserratbold;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  background: url(img/third-logo.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 49%;
  height: 22px;
}

@media (max-width: 380px) {
  .first-page {
    background: none;
    width: 100%;
    height: auto;
  }

  .first-page__logo {
    height: 69px;
    width: 100%;
    font-family: montserratmedium;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #000;
    padding: 15px 0 0 7%;
  }

  .first-page__lenguage {
    display: none;
  }

  .first-page__middle-header {
    margin: 0;
    padding: 0;
    display: contents;
  }

  .first-page__main-section {
    width: 100%;
    margin: 0;
    padding: 354px 0 0 0;
    background: url(img/first-page375.png);
    background-position: top center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 169px;
  }

  .first-page__main-section_title {
    font-size: 50px;
    line-height: 51px;
    background: url(img/first-vector375.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 11%;
    height: 130px;
    padding: 0 0 14px 7%;
  }

  .first-page__main-section_description,
  .first-page__main-section_read-more,
  .first-page__main-section_products,
  .first-page__main-section_products-vector,
  .first-page__main-section_footer {
    display: none;
  }

  .second-page {
    height: 596px;
  }

  .second-page__main-section {
    padding: 263px 0 0 0;
    background-image: url(img/second-rose.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 70%;
    width: 85%;
    margin: auto;
  }

  .second-page__main-section_image-gris {
    display: none;
  }

  .second-page__main-section_image-rose {
    display: none;
}

  .second-page__main-section_box {
    margin: 0;
    width: 100%;
    height: 281px;
  }

  .second-page__main-section_box-title {
    font-size: 20px;
    line-height: 20px;
    padding: 17px 0 3px 19%;
  }

  .second-page__main-section_box-subtitle {
    font-size: 10px;
    line-height: 10px;
    padding: 0 0 14px 10%;
  }

  .second-page__main-section_box-description {
    font-size: 9px;
    line-height: 13px;
    padding: 0 14% 9px 10%;
    width: 77%;
  }

  .second-page__ellipse-grey,
  .second-page__ellipse-blue,
  .second-page__ellipse-green {
    width: 23px;
    height: 23px;
  }

  .second-page__ellipse-rose {
    width: 29px;
    height: 29px;
  }

  .second-page__main-section_box-colores {
    width: 39%;
    margin-right: 19%;
    padding: 0 0 31px 10%;
  }

  .second-page__main-section_box-prise {
    font-size: 20px;
    line-height: 28px;
  }

  .second-page__main-section_box-number {
    display: none;
  }

  .second-page__main-section_box_basket {
    margin: 31px 9% 25px 10%;
  }

  .second-page__main-section_arrow {
    display: none;
  }

  .third-page {
    height: 597px;
  }

  .third-page__main-section {
    padding-top: 34px;
    width: 95%;
    margin: auto;
  }

  .third-page__main-image {
    margin: 0;
  }

  .black-line {
    width: 41px;
    height: 597px;
    margin-left: 27%;
  }

  .third-page__box-section {
    width: 81%;
    height: 195px;
    margin: 100px 7% 128px 12%;
  }

  .third-page__box-section_title {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0 0 0 0;
  }

  .third-page__box-section_subtitle {
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0.07em;
    margin: 0;
    padding: 0 0 0 0;
  }

  .third-page__box-section_description {
    font-size: 9px;
    line-height: 13px;
    margin-left: 0;
    padding: 0 0 0 0;
  }

  .third-page__main-section_box-number,
  .third-page__footer {
    display: none;
  }

  .third-page__main-section_arrow {
    font-family: montserratmedium;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    margin: 0 0 0 0;
    padding-bottom: 20px;
    background-position: center top;
    background-size: contain;
  }
}
