/* {border: dashed 1px red;
} */
.body {
  margin: 0;
}

.seconde-page__main-section_box-number {
  display: inline-block;
  user-select: none;
  position: relative;
  text-align: left;
  padding: 0;
  width: 130px;
  border: 1px solid #ddd;
}

.seconde-page__main-section_box_number-minus, .seconde-page__main-section_box_number-plus {
  position: absolute;
  top: 0;
  width: 40px;
  height: 32px;
  line-height: 32px;
  display: block;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

.seconde-page__main-section_box_number-minus {
  left: 0;
}

.seconde-page__main-section_box_number-plus {
  right: 0;
}

.seconde-page__main-section_box_number-minus:hover, .seconde-page__main-section_box_number-plus:hover {
  background: #fffcfb;
}

.seconde-page__main-section_box_number-minus:active, .seconde-page__main-section_box_number-plus:active {
  background: #e8e4e2;
}

.seconde-page__main-section_box_number-text {
  display: inline-block;
  font-size: 14px;
  color: #000;
  line-height: 32px;
  height: 32px;
  padding: 0;
  margin: 0 0 0 42px;
  background: #fff;
  outline: none;
  border: none;
  width: 57px;
  text-align: center;
}

.third-page__main-section_box-number {
  display: inline-block;
  user-select: none;
  position: relative;
  text-align: left;
  padding: 0;
  width: 130px;
  border: 1px solid #ddd;
}

.third-page__main-section_box_number-minus, .third-page__main-section_box_number-plus {
  position: absolute;
  top: 0;
  width: 40px;
  height: 32px;
  line-height: 32px;
  display: block;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
}

.third-page__main-section_box_number-minus {
  left: 0;
}

.third-page__main-section_box_number-plus {
  right: 0;
}

.third-page__main-section_box_number-minus:hover, .third-page__main-section_box_number-plus:hover {
  background: #fffcfb;
}

.third-page__main-section_box_number-minus:active, .third-page__main-section_box_number-plus:active {
  background: #e8e4e2;
}

.third-page__main-section_box_number-text {
  display: inline-block;
  font-size: 14px;
  color: #000;
  line-height: 32px;
  height: 32px;
  padding: 0;
  margin: 0 0 0 42px;
  background: #fff;
  outline: none;
  border: none;
  width: 57px;
  text-align: center;
}

.first-page {
  background: url(img/rectangle.svg);
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
  height: 900px;
}

.first-page__middle-header {
  margin: 0 0 96px 52px;
  padding-top: 36px;
  font-family: montserratmedium, sans-serif;
  font-style: normal;
  font-weight: 500;
  width: 27%;
  display: flex;
  justify-content: space-between;
}

.first-page__logo, .first-page__lenguage, .first-page__hamburger-menu {
  display: inline-block;
}

.first-page__logo {
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 0.07em;
  color: #FFFFFF
}

.first-page__lenguage {
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  background-color: #000;
  border: none;
}

.first-page__hamburger-menu {
  width: 92px;
  height: 92px;
  right: 0;
  top: 0px;
  background: #000;
  opacity: 0.05;
  position: absolute;
}

.first-page__main-section {
  width: auto;
  margin: 0 143px 169px 186px;
  height: 460px;
  background: url(img/first-page.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 94px 0 0 42%;
}

.first-page__main-section_title {
  font-family: montserratbold, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 82px;
  margin: 0;
  padding-bottom: 26px;
}

.first-page__main-section_description {
  font-family: montserratregular, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 21px;
  margin: 0;
  padding-bottom: 50px;
}

.first-page__main-section_read-more {
  font-family: montserratmedium, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 0px;
  color: #000;
  padding: 14px 41px;
  text-decoration: none;
  border:  1.5px solid #000;
  transition: 0.5s;
  margin-right: 54px;
}

.first-page__main-section_read-more:hover {
  cursor: pointer;
  box-shadow: 4px 5px #d7d7d7;
  transform: translate(-7px);
  opacity: 0.8;
  border-radius: 0.8;
}

.first-page__main-section_products {
  font-family: montserratmedium, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 0px;
  margin-left: 19px;
}

.first-page__main-section_products-vector {
  background: url(img/vector.png);
  width: 43px;
  height: 12px;
  display: inline-block;
  margin-top: 5px;
}
